{% extends 'common/base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block title %}Choix formation{% endblock %}

{% block body %}

    <center><h1>Choisissez votre formation</h1></center>
    {% for formation in formations %}
        <a href="{{ url_for('auth.choix_eleve_apprentis', nom_formation=formation["intitule"])}}">
            <button>{{formation["intitule"]}}</button><br>
        </a>
    {% endfor %}
    
{% endblock %}