{% extends 'common/base.html' %}

{% block title %}Choix apprentis{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/choix_apprentis.css') }}">
{% endblock %}

{% block body %}
    <h1>Choisissez votre profil</h1>

    <div id="liste_appprentis">
        {% for apprenti in apprentis %}
            <div class="apprenti">
                <a href="{{ url_for('auth.connexion_apprentis', login_apprenti=apprenti['login']) }}">
                    <img class="photo_profil" src="{{ url_for('static', filename='images/'+apprenti['photo']) }}"
                         alt="profil picture">
                </a>
                <p class="libelle">{{ apprenti["prenom"] }} {{ apprenti["nom"] }}</p>
            </div>
        {% endfor %}
    </div>

    {% include "_partial/_retour_bouton.html" %}
{% endblock %}