{% extends 'common/base.html' %}

{% block title %}Connexion Personnel{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/connexion_personnel.css') }}">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"
            integrity="sha384-UG8ao2jwOWB7/oDdObZc6ItJmwUkR/PfMyt9Qs5AwX7PsnYn1CRKCTWyncPTWvaS"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/cryxpad.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Entrez vos identifiants</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div id="choix-milieux">
            <p class="label">Login :</p>
            {{ form.login(class="boutton-formation") }}
        </div>
        <div id="choix-milieux">
            <p class="label">Mot de Passe :</p>
            {{ form.password(class="boutton-formation") }}
        </div>
        <div id="choix-milieux">
            {{ form.submit(class="boutton-formation") }}
        </div>
    </form>

    {% include "_partial/_retour_bouton.html" %}
{% endblock %}
