{% extends 'common/base.html' %}

{% block title %}Connexion Apprentis{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/@garyliao/pattern-lock-js-advanced@1.0.1/patternlock.min.js "></script>
{% endblock %}

{% block stylesheets %}
    <link href=" https://cdn.jsdelivr.net/npm/@garyliao/pattern-lock-js-advanced@1.0.1/patternlock.min.css "
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style_connexion_apprentis.css') }}">
{% endblock %}

{% block body %}
    <h1>Saisissez votre code</h1>
    <svg class="patternlock" id="lock" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" height="300px">
        <g class="lock-actives"></g>
        <g class="lock-lines"></g>
        <g class="lock-dots">
            <circle cx="20" cy="20" r="2"/>
            <circle cx="50" cy="20" r="2"/>
            <circle cx="80" cy="20" r="2"/>

            <circle cx="20" cy="50" r="2"/>
            <circle cx="50" cy="50" r="2"/>
            <circle cx="80" cy="50" r="2"/>

            <circle cx="20" cy="80" r="2"/>
            <circle cx="50" cy="80" r="2"/>
            <circle cx="80" cy="80" r="2"/>
        </g>
    </svg>
    <form id="form_hidden" method="POST">
        <input type="hidden" name="login" id="login" value="{{ apprenti[0]['login'] }}">
        <input type="hidden" name="pass" id="pass" value="">
    </form>
    <a href="{{ url_for('auth.choix_formation_apprentis')}}">
        <button id="bouton_retour">
        <span id="texte_retour">Retour</span>
        <img id="image_retour" src="{{ url_for('static', filename='images/fleche_retour.png') }}">
        </button>
    </a>
{% endblock %}

{% block javascripts2 %}
    <script defer>

        let login = document.getElementById('login').value;
        let lock = new PatternLock("#lock", {
            onPattern: function (result) {
                validate(lock, login, lock.getPattern());
            }
        });

        function validate(lock, login, essaie) {
            $.getJSON("/api/check-password-apprenti/" + encodeURIComponent(login) + "/" + encodeURIComponent(essaie.pattern), function (data) {
                if (data["valide"]) {
                    lock.success();
                    document.getElementById('pass').value = essaie.pattern;
                    document.forms["form_hidden"].submit();
                    document.getElementById("form_hidden").submit();
                } else {
                    lock.error();
                }
            })
        }
    </script>
{% endblock %}