{% extends 'common/base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block body %}

    <h1>Choisir votre connexion</h1>

    <br>
    <br>
    <div id="choix">
        <a href="{{ url_for('auth.choix_formation_apprentis') }}">
            <img src="{{ url_for('static', filename='images/eleve.png') }}" alt="icone eleve" height="30%">
            <br>
            <label id="labelEleve" class="text-link">Eleve</label>
        </a>
    
        <div id="space"></div>

        <a href="{{ url_for('auth.connexion_personnel') }}">
            <img src="{{ url_for('static', filename='images/prof.png') }}" alt="icone prof"  height="30%"><br>
            <label id="labelProf" class="text-link">Educateur</label>
        </a>

    </div>
   

{% endblock %}