{% extends 'common/base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/commentaires.css') }}">
{% endblock %}

{% block title %}Ajouter des commentaires{% endblock %}

{% block body %}
    <h1>Ajout commentaire éducateur de la fiche n°{{ fiche["numero"] }} de {{ apprenti }} </h1>
    <div id="bloc">
       
        <form name="ajouter_commentaire" method="post">
            <p>Intitulé : </p>
            <input type="text" name="intitule" id="intitule" class="ajout">

            <p>Commentaire de l'éducateur : </p>
            <textarea id="commentaire" name="commentaire" maxlength="500" rows="4" cols="30" class="ajout"></textarea>

            <p>Evaluation de l'éducateur : </p>
            <textarea id="evaluation" name="evaluation" maxlength="500" rows="4" cols="30" class="ajout"></textarea>
            <input type="submit" value="Valider">
        </form>

        {% include "_partial/_retour_bouton.html" %}
        <input type="button" value="Enregistrer" id="enregistrer">
    </div>
    
{% endblock %}