{% extends 'common/base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/choix_formation_apprentis.css') }}">
{% endblock %}

{% block title %}Choix formation{% endblock %}

{% block body %}

    <h1>Choisissez une formation</h1>

    <div>
        {% for formation in formations %}
            <a class="lien-formation"
               href="{{ url_for('personnel.choix_eleve', nom_formation=formation["intitule"]) }}">
                <div class="container">
                    <img class="img_formation" src="{{ url_for('static', filename='images/'+formation["image"]) }}"
                         alt="image fond">
                    <img class="img_cover" src="{{ url_for('static', filename='images/flat/'+ couleurs[loop.index % 3]) }}"
                         alt="image fond">
                    <p class="formation-txt">{{ formation["intitule"] }}</p>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}