{% extends 'common/base.html' %}

{% block title %}Fiches techniques{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block body %}
    <h1>Fiches techniques</h1>

    <!-- Affichage des fiches effectuées par l'élève -->
    <div class="liste">
        {% for fiche in fiches %}
            <div class="fiche">
                <a href="{{ url_for('personnel.fiche_apprenti', id=fiche.id) }}">{{ fiche.nom }}</a>
            </div>
        {% endfor %}
    </div>

    <!-- Orde d'affichage -->
    <div class="ordre">
        <a href="{{ url_for('personnel.choix_fiches_apprenti', id=id, ordre='date') }}">Date</a>
        <a href="{{ url_for('personnel.choix_fiches_apprenti', id=id, ordre='nom') }}">Nom</a>
    </div>

    <!-- Bouton de retour -->
    {% include "_partial/_retour_bouton.html" %}
{% endblock %}