{% extends 'common/base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fiches_techniques.css') }}">
{% endblock %}

{% block title %}Fiches techniques{% endblock %}


{% block body %}
    <h1>Fiches techniques de {{ apprenti["prenom"] }} {{ apprenti["nom"] }}</h1>

    <div id="blocFiches">
        {% if fiches|length == 0 %}
            <p class="text-center fs-1 my-5">Aucune fiche technique n'a été créée pour cet apprenti.</p>
        {% endif %}
        {% for fiche in fiches %}
            <div class="d-block">
                <div class="parent">
                    <a class="bg-modifier"
                       href="{{ url_for('educ_simple.visualiser_commentaires', apprenti=apprenti['login'], fiche = fiche.id_fiche) }}">
                        <img class="fiche" src="{{ url_for('static', filename='images/page-blanche.jpg') }}"
                             alt="fiche">
                        <img class="check" src="{{ url_for('static', filename='images/check.png') }}" alt="fini">
                    </a>
                </div>
                <p class="text-center fs-1">Fiche n°{{ fiche.numero }}</p>
                <p class="text-center fs-2">{{ get_nom_cours_by_id(fiche.id_cours) }}</p>
                <p class="text-center fs-3">{{ fiche.date_convertis }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="fixed-bottom bg-light">
        <a onclick="history.back();">{% include "_partial/_retour_bouton.html" %}</a>
    </div>
{% endblock %}