{% extends 'common/base.html' %}

{% block title %}Choix actions{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/choix_actions_educadmin.css') }}">
    
{% endblock %}

{% block body %}
    <h1>Choix actions</h1>
    <ol id="actions_educateuradmin">
        <li class="lignes" id="commentaire"><a href="">Ecrire un commentaire</a></li>

        <li class="lignes" id="creation_fiche"><a href="">Création d'une fiche technique</a></li>

        <li class="lignes" id="mdification_fiche"><a href="">Modification d'une fiche technique</a></li>
    </ol>
    {% include "_partial/_retour_bouton.html" %}
{% endblock %}