{% extends 'common/base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/choix_formation_apprentis.css') }}">
{% endblock %}

{% block title %}Choix formation{% endblock %}

{% block body %}

    <h1>Choisissez une formation</h1>

    <div id="choix-milieux">
        {% for formation in formations %}
            <a class="lien-formation" href="{{ url_for('personnel.choix_eleve', nom_formation=formation["intitule"]) }}">
                <button class="bouton-formation" id="formation-{{ loop.index }}">
                    <span id="formation_txt-{{ loop.index }}" >{{ formation["intitule"] }}</span>
                    <br>
                    {% if loop.index == 1 %}
                        <img id="plomberie_img" src="{{ url_for('static', filename='images/plomberie.jpg') }}" alt="Plomberie">
                    {% elif loop.index == 2 %}
                        <img id="agent_maintenance_batiment_img" src="{{ url_for('static', filename='images/agent_maintenance_batiment.jpg') }}" alt="Agent de maintenance en bâtiment">
                    {% endif %}
                </button>
            </a>
        {% endfor %}
    </div>
    {% include "_partial/_retour_bouton.html" %}

{% endblock %}