{% extends 'common/base.html' %}

{% block title %}Fiches techniques{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block body %}
    <h1>Fiches techniques de {{ apprenti["prenom"] }} {{ apprenti["nom"] }}</h1>

    <div id="blocFiches">

        {% for fiche in fiches %}
            <div class="parent">
                <a href="{{ url_for('cip.visualiser_commentaires', apprenti=apprenti['login'], fiche = fiche['id_fiche']) }}">
                    <img class="fiche" src="{{ url_for('static', filename='images/page-blanche.jpg') }}"
                        alt="fiche finie">
                    <img id="check" src="{{ url_for('static', filename='images/check.png') }}" alt="fini">
                </a>
            </div>
        {% endfor %}
    </div>

    <!-- Orde d'affichage -->
    <div class="ordre">
        <a href="{{ url_for('personnel.choix_fiches_apprenti', id=id, ordre='date') }}" alt="Date">Date</a>
        <a href="{{ url_for('personnel.choix_fiches_apprenti', id=id, ordre='nom') }}" alt="Nom">Nom</a>
    </div>

    <!-- Bouton de retour -->
    {% include "_partial/_retour_bouton.html" %}
{% endblock %}