{% extends 'common/base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/commentaires.css') }}">
{% endblock %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <h1>Commentaires de la fiche technique</h1>
    <h2 class="commentaireTitre">Commentaires intervenant
        {% if commentaires|length == 0 %}
            <a href="{{ url_for('educ_simple.ajouter_commentaires', apprenti = apprenti, fiche = fiche) }}">
                <img id="ajouter" src="{{ url_for('static', filename='images/cross.png' ) }}" alt="ajouter">
            </a>
        {% else %}
            <a href="{{ url_for('educ_simple.modifier_commentaires', apprenti = apprenti, fiche = fiche) }}">
                <img id="modifier" src="{{ url_for('static', filename='images/modifier.png' ) }}" alt="modifier">
            </a>
        {% endif %}
    </h2>



    {% if commentaires|length > 0 %}
        <p class="commentaire">Commentaire : {{ commentaires[0]["commentaire_texte"] }}</p>
        <p class="commentaire">Commentaire audio : {{ commentaires[0]["commentaire_audio"] }}</p>
        <p class="commentaire">Evaluation : {{ commentaires[0]["eval_texte"] }}</p>
        <p class="commentaire">Evaluation audio : {{ commentaires[0]["eval_audio"] }}</p>
    {% else %}
        Pas encore de commentaire de l'éducateur
    {% endif %}

    <h2 class="commentaireTitre">Commentaires apprentis</h2>
    {% if commentaires|length > 1 %}
        <p class="commentaire">Commentaire : {{ commentaires[1]["commentaire_texte"] }}</p>
        <p class="commentaire">Commentaire audio : {{ commentaires[1]["commentaire_audio"] }}</p>
        <p class="commentaire">Evaluation : {{ commentaires[1]["eval_texte"] }}</p>
        <p class="commentaire">Evaluation audio : {{ commentaires[1]["eval_audio"] }}</p>
    {% else %}
        Pas encore de commentaire de l'apprenti
    {% endif %}


    <div style="height: 200px"> </div>

    <div class="fixed-bottom bg-light">
        <a onclick="history.back();">{% include "_partial/_retour_bouton.html" %}</a>
    </div>
{% endblock %}