{% extends 'common/base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/personnalisation_fiche.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ url_for('static',filename='js/personnalisation_fiche.js') }}"></script>
{% endblock %}

{%block body%}
    <h1>Ajouter une fiche</h1>
    <!-- Bloc concernant le changement de couleur du fond des champs-->
    <div id="cercle">
        <h3>Couleur</h3>
        <!--Visualisation de la couleur-->
        <div id="visualisation">
            <input type="color" id="color_picker" oninput="mettre_a_jour_couleur_fond()">
            <div id="couleur_fond">
                <!-- Visualisation de la couleur de fond -->
            </div>
        </div>
    </div>

    <!--Boutons Retour et Suivant-->
    <div id="boutons">
        <button id="bouton_retour" >Retour</button>
        <button id="bouton_suivant2" >Suivant</button>
    </div>

{%endblock%}