{% extends 'common/base.html' %}

{%block body%}
    <h1>Ajouter une fiche</h1>
    <!-- Bloc concernant le changement de couleur du fond des champs-->
    <div>
        <h3>Couleur</h3>
        <!--Intégration d'un cercle chromatique mais à voir avec les membres de l'équipe-->
        <canvas id="cercle_chromatique" ></canvas><br>

        <!--Codes Hexadéciamux et RVB-->
        <!--Partie hexadecimale-->
        <label for="hexadecimal">Hex</label>
        <input type="text" id="couleur_fond_hex" value="#000000" >

        <!--partie RVB-->
        <div id="RVB" >
            <label for="rouge">R</label>
                <span id="rouge">0</span><br>
            <label for="vert">V</label>
                <span id="vert">0</span><br>
            <label for="bleu">B</label>
                <span id="bleu">0</span><br>
        </div>

        <!--Visualisation de la couleur-->
        <div id="visualisation_couleur" >
            <!--Bloc qui visualise la couleur-->
        </div>
    </div>

    <!--Boutons Retour et Suivant-->
    <div>
        <button id="bouton_retour" >Retour</button>
        <button id="bouton_suivant" >Suivant</button>
    </div>

{%endblock%}