{% extends 'common/base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/personnalisation_fiche.css') }}">
<link href=" https://cdn.jsdelivr.net/npm/bootstrap-colorpicker@3.4.0/dist/css/bootstrap-colorpicker.min.css " rel="stylesheet">
{% endblock %}

{% block javascripts %}
<script src="{{ url_for('static',filename='js/personnalisation_fiche.js') }}"></script>
<script src=" https://cdn.jsdelivr.net/npm/bootstrap-colorpicker@3.4.0/dist/js/bootstrap-colorpicker.min.js "></script>
{% endblock %}

{%block body%}
    <h1>Ajouter une fiche</h1>
    <!-- Bloc concernant le changement de couleur du fond des champs-->
    <div id="cercle">
        <h3>Couleur</h3>
        <!--Intégration d'un cercle chromatique mais à voir avec les membres de l'équipe-->
        <canvas id="cercle_chromatique" ></canvas><br>

        <!--Codes Hexadéciamux et RVB-->
        <!--Partie hexadecimale-->
        <label for="hexadecimal"><b>Hex</b></label>
        <input type="text" id="couleur_fond_hex" value="#000000" >

        <!--partie RVB-->
        <div id="RVB" >
            <label for="rouge"><b>R</b></label>
                <span id="rouge">0</span><br>
            <label for="vert"><b>V</b></label>
                <span id="vert">0</span><br>
            <label for="bleu"><b>B</b></label>
                <span id="bleu">0</span><br>
        </div>

        <!--Visualisation de la couleur-->
        <div id="visualisation_couleur" >
            <!--Bloc qui visualise la couleur-->
        </div>
    </div>

    <!--Boutons Retour et Suivant-->
    <div id="boutons">
        <button id="bouton_retour" >Retour</button>
        <button id="bouton_suivant" >Suivant</button>
    </div>

{%endblock%}