{% extends 'common/base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/personnalisation_fiche.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ url_for('static',filename='js/personnalisation_fiche.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Ajouter une fiche</h1>
    <!-- Bloc concernant la personnalisation de texte -->
    <div id="zone_texte">
        <h3>Texte</h3>
        <!-- Sélection d'une police d'écriture -->
        <label for="police">Police</label>
        <select id="selecteur_police" onchange="changer_police()" >
            <option value="Arial, sans-serif">Arial</option>
            <option value="Courier New, monospace">Courier New</option>
            <option value="Times New Roman, serif">Times New Roman</option>
            <option value="Verdana, sans-serif">Verdana</option>
            <option value="Impact, Charcoal, sans-serif">Impact</option>
            <!-- Autres polices à rajouter éventuellement -->
        </select>

        <!-- Sélection de la taille de la police d'écriture -->
        <label for="taille">Taille</label>
        <input type="number" id="taille_police" min="1" max="100" value="14" ><br>

        <!-- Sélection de la couleur de la police d'écriture -->
        <!-- Partie hexadéciamle -->
        <label for="hexadecimal"><b>Couleur Hexadécimal</b></label>
        <input type="text" id="couleur_police_hex" value="#000000" oninput="changer_couleur()">

        <!--partie RVB-->
        <div id="RVB" >
            <label for="rouge"><b>R</b></label>
                <span id="rouge">0</span>
            <label for="vert"><b>V</b></label>
                <span id="vert">0</span>
            <label for="bleu"><b>B</b></label>
                <span id="bleu">0</span>
        </div>

        <!--Visualisation-->
        <div id="visualisation">
            <!--Visualisation de la couleur-->
            <div id="visualisation_couleur" >
                <!-- Bloc qui visualise la couleur -->
            </div>

            <!--Visualisation du texte et de sa couleur-->
            <div id="visualisation_texte" >
                <span id="texte_visualisation">Ceci est le texte de visualisation de votre choix</>
            </div>
        </div>
    </div>

    <!-- Bloc concernant la personnalisation de champ -->
    <div id="zone_champs">
        <h3>Champs</h3>
        <!-- Sélection du type de champ -->
        <label for="type_champ">Type</label>
        <select id="selecteur_type_champ" >
            <option value="champ_checkbox">Checkbox</option>
            <option value="champ_texte">Texte</option>
            <option value="champ_date">Date</option>
            <option value="champ_tableau">Tableau</option>
            <!-- Autres types de champs à rajouter éventuellement, basé sur la BD-->
        </select>

        <!-- Sélection du Niveau -->
        <label for="niveau">Niveau</label>
        <select id="selecteur_niveau" >
            <option value="1">1 Pas d'affichage - Elements cachés</option>
            <option value="2">2 Facile - Pictogrammes</option>
            <option value="2">3 Aidé - Pictogrammes et Texte</option>
            <option value="2">4 Pro - Version d'examen</option>
        </select><br>

        <!-- Sélection du pictogramme à associer -->
        <label for="pictogramme">Pictogramme</label>
        <select id="selecteur_pictogramme" >
            <!-- Pictos de la BD -->
        </select>
    </div>

    <!--Boutons Retour et Suivant-->
    <div id="boutons">
        <button id="bouton_retour" >Retour</button>
        <button id="bouton_suivant" >Suivant</button>
    </div>

{% endblock %}