.env
.venv
venv
env
.idea
__pycache__
.vscode

*.loo
*.lo1

*.log

config.txt

.trunk
.pytest_cache
.scannerwork
.coverage


static/files/*
static/images/photo_fiche/*.jpg


# Flask stuff:
instance/
.webassets-cache

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
flask_session/

test_data.json