Flask==2.3.3
Flask-SQLAlchemy
Flask-WTF
bcrypt
pytest
pytest-flask
pygit2
pillow
pymysql
pytest-cov
Jinja2
SQLAlchemy
Werkzeug==2.3.8
WTForms
click
gunicorn
itsdangerous
MarkupSafe
xmlrunner
flask-unittest
flask-security-too[fsqla,common]
Unidecode
xlsxwriter