<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Accueil{% endblock %} - APEAJ</title>
    <link {% block favicon %}rel="icon" href="{{ url_for('static',filename='images/logo.png') }}" {% endblock %}>

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @media (min-width: 1200px) {
            body {
                width: 1200px;
                height: 1920px;
                margin: 0 auto;
                overflow: auto;
            }
        }
    </style>
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}

    {% block headSuppl %}{% endblock %}
</head>

<body>
{% if not session["role"] %}
{% include "_partial/_nav_deconnecte.html" %}
{% else %}
{% include "_partial/_nav_connexion.html" %}
{% endif %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div style="{% if category == 'message' %}background-color: #6ce56c;{% else %}
                background-color: #e83c55;
            {% endif %} color: black">
                <ul class="flashes" style="margin-top: revert">
                    <li>{{ message }}</li>
                </ul>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div id="master-center">
        {% block body %}{% endblock %}
</div>

{% include "_partial/_footer.html" %}
</body>
{% block javascripts2 %}{% endblock %}
</html>