{% extends 'common/base.html' %}

{% block title %}Fiches{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fiches_techniques.css') }}">
{% endblock %}

{% block body %}
    <h1>Bienvenue {{ apprenti["prenom"] }} {{ apprenti["nom"] }} {% include "_partial/_tts.html" %}</h1>


    <div id="blocFiches">
        {% if fiches|length == 0 %}
            <p class="text-center fs-1 my-5">Aucune fiche pour l'instant. {% include "_partial/_tts.html" %}</p>
        {% endif %}
        {% for fiche in fiches %}
            <div class="d-block">
                <div class="parent">
                    {% if fiche.etat_fiche == 0 %}
                        <a href="{{ url_for('apprenti.completer_fiche', numero=fiche.numero) }}" class="bg-modifier">
                    {% else %}
                        <a class="bg-modifier">
                    {% endif %}
                        <img class="fiche" src="{{ url_for('static', filename='images/page-blanche.jpg') }}"
                             alt="fiche finie">
                        {% if fiche.etat_fiche == 1 %}
                            <img class="check" src="{{ url_for('static', filename='images/check.png') }}" alt="fini">
                        {% elif fiche.etat_fiche == 2 %}
                            <img class="check" src="{{ url_for('static', filename='images/stop.png') }}" alt="fini">
                        {% else %}
                            <img class="check" src="{{ url_for('static', filename='images/pause.png') }}" alt="pause">
                        {% endif %}
                    </a>
                </div>
                <p class="text-center fs-1">Fiche n°{{ fiche.numero }}</p>
                <p class="text-center fs-2">{{ get_nom_cours_by_id(fiche.id_cours) }}</p>
                <p class="text-center fs-3">{{ fiche.date_convertis }}</p>
            </div>
        {% endfor %}
    </div>
    {% if fiches|length != 0 %}
        <div id="suivi_progression">
            <a href="{{ url_for('apprenti.suivi_progression') }}">
                <img src="{{ url_for('static', filename='images/progression.png') }}" alt="progression">
                Suivi de progression {% include "_partial/_tts.html" %}</a>
        </div>
    {% endif %}
{% endblock %}