{% extends 'common/base.html' %}

{% block title %}Fiches{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fiches_techniques.css') }}">
{% endblock %}

{% block body %}
    <h1>Bienvenue {{ apprenti["prenom"] }} {{ apprenti["nom"] }} {% include "_partial/_tts.html" %}</h1>
    

    <div id="blocFiches">

        {% for fiche in fiches %}
            <div class="parent">
                <a>
                    <img class="fiche" src="{{ url_for('static', filename='images/page-blanche.jpg') }}"
                         alt="fiche finie">
                    {% if fiche['etat_fiche'] == 1 %}
                        <img id="check" src="{{ url_for('static', filename='images/check.png') }}" alt="fini">
                    {% elif fiche['etat_fiche'] == 2 %}
                        <img id="check" src="{{ url_for('static', filename='images/stop.png') }}" alt="fini">
                    {% else %}
                        <img id="pause" src="{{ url_for('static', filename='images/pause.png') }}" alt="pause">
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
    <div id="suivi_progression">
        <a href="{{ url_for('apprenti.suivi_progression') }}">
            Suivi de progression</a>
    </div>
    {% include "_partial/_retour_bouton.html" %}
{% endblock %}