{% extends 'common/base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/ms-dropdown@4.0.3/dist/css/dd.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/remplir_fiche.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom_ms_dropdown.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ url_for('static',filename='js/color_generator.js') }}"></script>
    <script src="{{ url_for('static',filename='js/remplir_fiche.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/ms-dropdown@4.0.3/dist/js/dd.min.js"></script>
{% endblock %}

{% block body %}
    <h1>Fiche numéro {{ fiche["numero"] }} {% include "_partial/_tts.html" %}</h1>

    <div id="container-principal" class="px-4">
        <div id="caroussel">
            <div id="deplacement-gauche" class="deplacement-fleche fdisabled" onclick="changement_caroussel('-10', this)">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </div>
            <div id="deplacement-droite" class="deplacement-fleche" onclick="changement_caroussel('10', this)">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            {% for categorie in composition %}
                <fieldset id="field-{{ categorie['position_elem'] }}" class="scheduler-border p-2 mr-auto ml-2"
                          {% if loop.index0 != 0 %}hidden="" {% endif %} style="{{ categorie['couleur_fond'] }}">
                    <legend>{{ categorie["libelle_elem"] }} {% include "_partial/_tts.html" %}</legend>
                    {% for element in categorie["elements"] %}
                        <div class="sous-field"
                            {% if loop.index0 != 0 and element["type_elem"] == "select-materiel" %}hidden=""{% endif %} >
                            <label id="modelem-{{ element['position_elem'] }}">
                                <div class="d-flex">
                                    
                                    <!-- Ici on retrouve l'icone de l'element -->
                                    {% if element["pictogramme"] != None %}
                                        <img src="{{ url_for('static', filename='images/icone_fiches/'+element['pictogramme']) }}"
                                             class="rounded my-auto mx-2" alt="icone element" onload="chargement_preview(this,
                                                ajout={{ element["taille_pictogramme"] }},
                                                couleur='{{ element["couleur_pictogramme"] }}',
                                                position_element='{{ element["position_elem"] }}')"
                                             id="icone-{{ element["position_elem"] }}"
                                             {% if element["niveau"] == 3 %}hidden="" {% endif %}>
                                    {% endif %}
                                    
                                    <!-- Ici on retrouve le libelle de l'element -->
                                    <span id="label-{{ element['position_elem'] }}"
                                          style="font-size: {{ element['taille_texte'] }}px; color: {{ element['couleur'] }};
                                                  font-family: {{ element['police'] }}, 'Sans-Serif light';"
                                          {% if element["niveau"] == 1 %}hidden=""{% endif %}
                                            class="my-auto">{{ element["libelle_elem"] }}</span>
                                    
                                    <!-- Ici se trouve le haut parleur pour traduire les le libelle de l'element -->
                                    <div style="font-size: {{ element['taille_texte'] }}px;" class="mx-2 my-auto">
                                        <a hidden="">{{ element["libelle_elem"] }}</a> {% include "_partial/_tts_hidden.html" %}
                                    </div>
                                </div>
                            </label>
                            <!-- Ici on va mettre les différents types d'input
                            Premier type : input de selection du temps -->
                            {% if element["type_elem"] == "select-time" %}
                                <div style="font-size: {{ element['taille_texte'] }}px;" class="d-flex">
                                    <select class="fs-4 my-3 form-select">
                                        {% for h in range(0, 5) %}
                                            {% for m in range(0, 60, 15) %}
                                                {% set formatted_minutes = "%02d"|format(m) %}
                                                {% if h+m != 0 %}
                                                <option value="">{{ h }}h{{ formatted_minutes }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    {% include "_partial/_tts_temps.html" %}
                                </div>
                            <!-- Deuxième type : input de selection de matériel -->
                            {% elif element["type_elem"] == "select-materiel" %}
                                <div>
                                    <select class="fs-4 my-3 form-select">
                                        <option value="mat-1" disabled>-- Ajouter du materiel --</option>
                                    </select>
                                </div>
                            <!-- Troisième type : input text area pour les longs commentaires -->
                            {% elif element["type_elem"] == "textarea" %}
                                <div style="font-size: {{ element['taille_texte'] }}px;" class="d-flex">
                                    <textarea class="form-control"></textarea>
                                    {% include "_partial/_tts_textarea.html" %}
                                </div>
                            <!-- Quatrième type : input de checkbox ou radio -->
                            {% elif element["type_elem"] in ["radio","checkbox"] %}
                                <div>
                                <input type="{{ element['type_elem'] }}"
                                        name="radio-{{ categorie['position_elem'] }}"
                                        style="width: {{ element['taille_texte'] }}px; height: {{ element['taille_texte'] }}px;">
                                </div>
                            <!-- Cinquième type : tout les autres input (date, text, number, etc...) -->
                            {% else %}
                                <div style="font-size: {{ element['taille_texte'] }}px;" class="d-flex">
                                    <input type="{{ element['type_elem'] }}" class="fs-4 my-3 form-control">
                                    {% include "_partial/_tts_date.html" %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </fieldset>
            {% endfor %}
        </div>
    </div>
{% endblock %}