{% extends 'common/base.html' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/imprimer.css') }}">
{% endblock %}

{% block body %}
    <h1>Fiche d'intervention n° {{ fiche["numero"] }}</h1>
    {% for categorie in composition %}
        <fieldset>
            <legend>{{ categorie["libelle_elem"] }}</legend>
            {% for element in categorie["elements"] %}
                <div>{{ element["libelle_elem"] }}</div>
                <div>{{ element["text"] }}</div>
            {% endfor %}
        </fieldset>
    {% endfor %}

    <div class="noPrint">
        <div></div>
        <button id="pdf">Exporter en PDF ou imprimer</button>
        <div></div>
    </div>
    {% block javascripts %}
        <script src="{{ url_for('static',filename='js/export_pdf.js') }}"></script>
    {% endblock %}

{% endblock %}