<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/imprimer.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">
    {% endblock %}

    <title>Fiche Intervention N°{{ fiche.numero }}</title>
</head>

<body class="colonne centre">
    <main class="colonne">
        <div class="titre border">FICHE D'INTERVENTION N°{{ fiche.numero }}</div>
        <form>

            <div class="espaceHor"></div>
            <fieldset>
                <legend>Intervenant</legend>
                <div>
                    <div class="titre">Nom de l'intervenant</div>
                    <div><input value="{{ fiche.nom_intervenant }}"></div>
                    <div class="titre">Prénom de l'intervenant</div>
                    <div><input value="{{ fiche.prenom_intervenant }}"></div>
                </div>
            </fieldset>
            <div class="espaceHor"></div>
            <fieldset>
                <legend>Demande</legend>
                <div>
                    <div class="titre">Nom du demandeur</div>
                    <div><input disabled value="{{ fiche.nom_du_demandeur }}"></div>
                </div>
                <div class="espaceHor"></div>
                <div>
                    <div class="titre">Date de la demande</div>
                    <div><input disabled value="{{ fiche.date_demande }}"></div>
                    <div class="titre">Localisation</div>
                    <div><input disabled value="{{ fiche.localisation }}"></div>
                </div>
                <div class="espaceHor"></div>
                <div class="colonnePrint">
                    <div class="titre demi">Description de la demande</div>
                    <div> <textarea disabled>{{ fiche.description_demande }}
                        </textarea>
                    </div>
                </div>
                <div class="espaceHor"></div>
                <div>
                    <div class="titre demi">Degré d'urgence</div>
                    <div><input disabled value="{{ fiche.degre_urgence }}"></div>
                </div>
                </div>
            </fieldset>
            <div class="espaceHor"></div>
            <fieldset>
                <legend>Intervention</legend>

                <div class="espaceHor"></div>
                <div>
                    <div class="titre">Date d'intervention</div>
                    <div>
                        <input type="date" value="{{ composition[1].text }}">
                    </div>
                    <div class="titre">Durée de l'opération</div>
                    <div>
                        <select>
                            <option>{{ composition[2].text }}</option>
                        </select>
                    </div>
                    <div class="espaceHor"></div>
                    <div>
                        <div class="colonne listeCheckbox">
                            <fieldset class=" colonne">
                                <legend>Action</legend>
                            </fieldset>
                        </div>
                        <div>
                            <div class="demi">
                                <input checked type="checkbox">
                            </div>
                            <div class="droite"><label> </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            </div>
            <div class="colonne listeCheckbox">
                <fieldset class=" colonne">
                    <legend>Type de Maintenance</legend>
                    <div>
                        <div class="demi">
                            {% if composition[5].text==None %}
                                <input type="checkbox">
                            {% else %}
                                <input checked type="checkbox">
                            {% endif %}
                        </div>
                        <div class="droite"><label>améliorative</label></div>
                    </div>
                    <div>
                        <div class="demi">
                            {% if composition[6].text==None %}
                                <input type="checkbox">
                            {% else %}
                                <input checked type="checkbox">
                            {% endif %}
                        </div>
                        <div class="droite"><label>préventive</label>
                        </div>
                    </div>
                    <div>
                        <div class="demi">
                            {% if composition[7].text==None %}
                                <input type="checkbox">
                            {% else %}
                                <input checked type="checkbox">
                            {% endif %}
                        </div>
                        <div class="droite"><label>corrective</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="colonne listeCheckbox">
                <fieldset class=" colonne">
                    <legend>Nature de l'intervention</legend>
                    <div>
                        <div class="demi">
                            {% if composition[9].text==None %}
                                <input type="checkbox">
                            {% else %}
                                <input checked type="checkbox">
                            {% endif %}
                        </div>
                        <div class="droite"><label>Aménagement</label></div>
                    </div>
                    <div>
                        <div class="demi">
                            {% if composition[10].text==None %}
                                <input type="checkbox">
                            {% else %}
                                <input checked type="checkbox">
                            {% endif %}
                        </div>
                        <div class="droite"><label>Finitions</label>
                        </div>
                    </div>
                    <div>
                        <div class="demi">
                            {% if composition[11].text==None %}
                                <input type="checkbox">
                            {% else %}
                                <input checked type="checkbox">
                            {% endif %}
                        </div>
                        <div class="droite"><label>Installation sanitaire</label>
                        </div>
                    </div>
                    <div>
                        <div class="demi">
                            {% if composition[12].text==None %}
                                <input type="checkbox">
                            {% else %}
                                <input checked type="checkbox">
                            {% endif %}
                        </div>
                        <div class="droite"><label>Installation électrique</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            </div>
            <div class="espaceHor"></div>
            </div>
            <div class="espaceHor"></div>

            <div>
                <div class="colonnePrint">
                    <div class="titre demi">Travaux réalisés</div>
                    <div>
                        <textarea rows="10">{{ composition[14].text }}</textarea>
                    </div>
                </div>
            </div>
            <div class="espaceHor"></div>

            <div>
                <div class="colonnePrint">
                    <div class="titre demi">Travaux non réalisés</div>
                    <div>
                        <textarea rows="5">{{ composition[15].text }}</textarea>
                    </div>
                </div>
            </div>
            <div>
                <div class="noPrint "></div>
                <div class="check">
                    {% if composition[16].text==None %}
                        <input type="checkbox">
                    {% else %}
                        <input checked type="checkbox">
                    {% endif %}
                </div>
                <div class="droite"><label>Nécessite une nouvelle intervention</label>
                </div>
            </div>
            <div class="espaceHor"></div>
            <div>
                <div class="titre demi">Matériaux Utilisés</div>
                <div class="noPrint"></div>
                <div>
                </div>
            </div>
            <div class="espaceHor"></div>
            {% for i in range(18,23) %}
                <div style="margin-bottom: 10px">
                    <div class="selectADupliquer">
                        <select>
                            <option>-- Choisir une valeur --</option>
                            {% for categorie in materiaux %}
                                <optgroup label="{{ categorie['nom'] }}">
                                    {% for materiau in categorie["elements"] %}
                                        {% if materiau["id_materiel"] == composition[i].id_materiel %}
                                            <option selected>{{ materiau["nom"] }}</option>
                                        {% else %}
                                            <option>{{ materiau["nom"] }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="demi"></div>
                    <div class="selectADupliquer">
                        <select>
                            <option>-- Choisir une valeur --</option>
                            {% for categorie in materiaux %}
                                <optgroup label="{{ categorie['nom'] }}">
                                    {% for materiau in categorie["elements"] %}
                                        {% if materiau["id_materiel"] == composition[i + 5].id_materiel %}
                                            <option selected>{{ materiau["nom"] }}</option>
                                        {% else %}
                                            <option>{{ materiau["nom"] }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endfor %}
            </fieldset>
            <div class="espaceHor"></div>
            <div class="espaceHor"></div>

            <div class="centre noPrint" style="margin-bottom: 20px">Click sur imprimer quand vous avez tout terminé</div>
            <div class="noPrint" style="margin-bottom: 50px">
                <div>
                    <button id="button">Imprimer</button>
                    <div class="demi"></div>
                </div>
            </div>
        </form>
    </main>
</body>

<script src="{{ url_for('static',filename='js/export_pdf.js') }}"></script>
</html>