{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/imprimer.css') }}">
{% endblock %}

{% block body %}
    <h1>Fiche d'intervention n° {{ fiche["numero"] }}</h1>
    <form>
        <div class="espaceHor"></div>
        <fieldset>
            <legend>Intervenant</legend>
            <div>
                <div class="titre">Nom de l'intervenant</div>
                <div>{{ fiche["nom_intervenant"] }}</div>
                <div class="titre">Prénom de l'intervenant</div>
                <div>{{ fiche["prenom_intervenant"] }}</div>
            </div>
        </fieldset>
        <div class="espaceHor"></div>
        <fieldset>
            <legend>Demande</legend>
            <div>
                <div class="titre">Nom du demandeur</div>
                <div>{{ fiche["nom_du_demandeur"] }}</div>  
            </div>
            <div class="espaceHor"></div>
            <div>
                <div class="titre">Date de la demande</div>
                <div>{{ fiche["date_demande"] }}</div>
                <div class="titre">Localisation</div>
                <div>{{ fiche["localisation"] }}</div>
            </div>
            <div class="espaceHor"></div>
            <div class="colonnePrint">
                <div class="titre demi">Description de la demande</div>
                <div>
                    {{ fiche["description_demande"] }}
                </div>
            </div>
            <div class="espaceHor"></div>
            <div>
                <div class="titre demi">Degré d'urgence</div>
                <div>{{ fiche["degre_urgence"] }}</div>
                </div>
            </div>
        </fieldset>

        <!-- Récupération de ce que l'apprenti a rempli -->
        {% for categorie in composition %}
            <fieldset>
                <legend>{{ categorie["libelle_elem"] }}</legend>
                {% for element in categorie["elements"] %}
                    <div>{{ element["libelle_elem"] }}</div>
                    <div>{{ element["text"] }}</div>
                {% endfor %}
            </fieldset>
        {% endfor %}

        <div class="noPrint">
            <div></div>
            <button id="pdf">Exporter en PDF ou imprimer</button>
            <div></div>
        </div>
        {% block javascripts %}
            <script src="{{ url_for('static',filename='js/export_pdf.js') }}"></script>
        {% endblock %}    
        
    </form>
{% endblock %}