{% extends 'common/base.html' %}

{% block title %}Actions admin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/accueil_superadmin.css') }}">
{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5 pt-5">Choix actions</h1>

    <div class="w-75 m-auto">
        <a href="{{ url_for('educ_admin.gestion_cours') }}">
            <button class="boutton-choix">Gestion des cours</button>
        </a>
        <a href="{{ url_for('educ_admin.choix_formation') }}">
            <button class="boutton-choix">Accès aux apprentis</button>
        </a>
        <a href="{{ url_for('educ_admin.gestion_images') }}">
            <button class="boutton-choix">Gestion des images matériaux</button>
        </a>
        <a href="{{ url_for('educ_admin.gestion_pictos') }}">
            <button class="boutton-choix">Gestion des pictogrammes</button>
        </a>
    </div>
{% endblock %}