{% extends 'common/base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/modifier_commentaires.css') }}">
{% endblock %}

{% block title %}Arrêt de fiche{% endblock %}

{% block body %}

    <h1>Arrêt et copie de la fiche n°{{ fiche.numero }} de {{ apprenti }} </h1>

    <div class="w-75 m-auto mt-5">

        <form name="raison" id="raison" method="POST">

            <h2>Pourquoi arrêter cette fiche ?</h2>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {{ form.raison_arret }}

            <br>

            {{ form.enregistrer }}

        </form>
        
    </div>


    <div class="fixed-bottom bg-light">
        <a onclick="history.back();">{% include "_partial/_retour_bouton.html" %}</a>
    </div>
{% endblock %}