{% extends 'common/base.html' %}

{% block title %}Suivi de progression{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/suivi_progression_apprenti.css') }}">
{% endblock %}

{% block body %}
    <h1>Suivi de progression par fiche de {{ apprenti.prenom }} {{ apprenti.nom }}</h1>
    <div class="millieu">   
        <div class="diagramme">
            <canvas id="suivi_progression_cip" aria-label="chart" role="img" type="module"></canvas>
            {% block javascripts %}
                <script src="{{ url_for('static',filename='js/chart.js') }}"></script>
                <script src="{{ url_for('static',filename='js/suivi_progression_cip.js') }}"></script>
                <script>
                    window.onload = function() {
                        creation_graphique_suivi_progression_cip({{ niv_fiche|safe }});
                    }
                </script>
            {% endblock %}
        </div>
        <div class="valeurs">
            <ul>
                <li>Nombre de fiches finies : <strong>{{ nb_fiches_finies }}</strong></li>
                <li>Niveau moyen de chaque champ : <strong>{{ niveau_moyen }} / 3</strong></li>
            </ul>
        </div>
    </div> 
    <div class="fixed-bottom bg-light">
        <a href="{{ url_for('educ_admin.fiches_apprenti', apprenti=apprenti.login) }}">{% include "_partial/_retour_bouton.html" %}</a>
    </div>
{% endblock %}