body {
    font-family: 'Montserrat', sans-serif;
    width: 1200px;
    height: 1920px;
    margin: 0 auto; /* Centrer la page horizontalement */
    overflow: auto; /* Permettre le défilement si le contenu dépasse */
}

h1{
    font-family: Oswald;
    font-size:5em;
}

h2, h3, h4{
    font-family: 'Oswald', serif;
    font-size: 22px;
}

p{
    font-family: 'Montserrat', serif;
    font-size: 22px;
}

#box_nav_deconnecte {
    background-color: #FFBF73;
    height: 150px;
    width: 100%;
}

#img_nav {
    height: 110px;
    padding-top: 20px;
    padding-left: 20px;
}

#logo_nav {
    object-fit: scale-down;
    height: 100%;
}

#master-center {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #e5e5e5;
}
