#bouton_retour {
    margin-top: 10px;
    margin-left: 67%;
    margin-bottom: 5%;
    border-radius: 8px;
    display: flex;
}

#texte_retour {
    font-size: 3.5em;
    flex: 1;
}

#image_retour {
    width: 25%;
}