
.lien-formation {
    font-size: 3.5em;
    margin-bottom: 200px;
    height: 285px;
    text-align: center;
    text-shadow: 1px 0 10px black;
}

.formation-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
}

.img_cover {
    padding-top: 30px;
    width: 1070px;
    height: 283px;
    opacity: 0.6;
}

.img_formation {
    padding-top: 30px;
    position: absolute;
    width: 1070px;
    height: 283px;
    filter: blur(3px);
}

.container {
    position: relative;
    text-align: center;
    color: white;
}