.lignes{
    line-height: 6em;
    font-size: 3em;
    text-indent: 10%;
    margin-top: 2em;
}

.lignes a{
    color: white;
}

#listeOperationsCIP {
    list-style: none;
}

#fichesTechniques {
    background-color: #96DBF2;
}

#suiviProg {
    background-color: #FFAADD;
}

#situationExam {
    background-color: #FFBF73;
}