.commentaireTitre {
    font-size: 4em;
    margin-left:1%;
    margin-top:4%;
    margin-bottom:1%;
}

.commentaire {
    margin-left:2%;
}

.modifier {
    height:1em;
}

.commentaireTitre a img {
    position: absolute;
    margin-left: 1%;
    height: 85px;
}
