#blocFiches {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.parent {
    position: relative;
    align-items: center;
}

.parent #pause {
    position: absolute;
    top: 37%;
    left: 37%;
    height: 100px
}

.parent .check {
    position: absolute;
    top: 37%;
    left: 34%;
    height: 100px;
}

.parent .plus {
    position: absolute;
    top: 36%;
    left: 31%;
    height: 100px;
}

.fiche {
    z-index: 11;
}

#suivi_progression {
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    left: 63%;
    position: relative;
    padding: 10px;
}

#suivi_progression a {
    height: 8%;
    font-size: 30px;
    top: 100%;
}

#suivi_progression img[alt*="progression"] {
    width: 50px;
}

.modifier {
    position: absolute;
    z-index: 1;
    top: 5%;
    right: 15%;
    font-size: 70px;
}

.bg-modifier {
    z-index: -1;
}