#blocFiches{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.parent {
    position: relative;
    align-items:center;
}

.parent #pause{
    position: absolute;
    top: 37%;
    left: 34%;
    height:100px
}

.parent #check{
    position:absolute;
    top: 37%;
    left:34%;
    height:100px;
}

.fiche {
    z-index: 11;
}

button {
    position: absolute;
    height: 8%;
    font-size: 30px;
    top: 100%;
    left: 63%;
}

@media screen and (width < 1286px) {
    button { 
        left: 65%;
    }
}

@media screen and (width <= 1084px) {
    button { 
        top:155%;
        left: 65%;
    }
}

