#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    background-color: #ccc;
    padding: 10px;

}

.grid-container > div {
    background-color: #666;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.label-file {
    cursor: pointer;
    font-weight: bold;
}

.input-file {
    visibility: hidden;
}

#enregistrer {
    margin-left:50%;
    margin-right:-50%;
}