#container-ajout {
    background-color: #ececec;
    padding: 10px;
    margin: auto;
}

.test{
    margin: auto;
}

.grid-container > div {
    background-color: #666;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.label-file {
    cursor: pointer;
    font-weight: bold;
}

#ajouter {
    margin-left:50%;
    margin-right:-50%;
}

.modal{
    --bs-modal-width: 75%;
}

.modal-footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
