/* Main divs (zone_texte and zone_champs) styling */
#zone_personnalisation, #zone_preview {
    background-color: #fff;
    padding: 15px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 50%;
}

#container-principal {
    display: flex;
}

/* Styles for labels */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

h3, #actions_finales {
    margin-top: 20px;
}

/* Styles for the select dropdowns */
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Styles for the number and text inputs */
input[type="number"], input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}


#visualisation {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#texte_visualisation {
    padding-left: 20px;
}

.btn-secondary {
    font-size: 30px;
    background-color: #c4c4c4;
}


.btn-primary {
    font-size: 20px;
    background-color: #51a3f6;
    color: white;
}

.btn-primary:disabled, .btn-secondary:disabled {
    background-color: #cecece;
    color: #818181;
}


#couleur_fond {
    height: 150px;
    width: 500px;
    border-radius: 5px;
    margin-left: 25%;
}

fieldset.scheduler-border {
    border: 1px solid #a2a2a2 !important;
}

.modify-text div {
    width: 33%;
    margin-left: 10px;
    margin-right: 10px;
}


.ms-dd {
    width: 100%;
    border: 1px solid #ccc;
}
.ms-dd .ms-dd-header{
    border: none;
}

.ms-dd-header {
    border-radius: 5px;
}

.ms-dd .ms-list-option.option-selected, .ms-dd .ms-optgroup ul .ms-list-option.option-selected{
    background: #e9e9ed;
}

.ms-dd .ms-dd-option-image, .ms-dd .ms-dd-selected-img {
    max-width: 31px;
}

.ms-dd .ms-options {
    height: 300px;
}

.ms-dd .ms-value-input{
    display: none;
}

.ms-dd-option-content {
    padding-top: 3px;
    padding-left: 10px;
}

.ms-dd .ms-dd-header .option-selected{
    font-weight: initial;
}

@media screen and (max-width: 1200px) {

    #container-principal {
        display: block;
    }

    #zone_personnalisation, #zone_preview {
        width: auto;
    }
}
