ul {
    list-style-type: none;
    background-color: #d9d9d9;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: inline;
    padding: 1.45em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.haut {
    width: 95%;
    height: 20%;
    position: absolute;
    left: 24.5px;
    top: 400px;
}

.diagramme {
    background-color: white;
    width: 95%;
    height: 85%;
    position: absolute;
    left: 24.5px;
    top: 600px;
    border-radius: 10px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

#suivi_progression_apprenti {
    display: flex;
    left: 30px;
    top: 25px;
    padding: 100px;
    height: 50%;
}

@media screen and (min-width: 1280px ) {

    .haut label {
        font-size: 2em;
        padding: 3em;
        padding-top: 1em;
        padding-bottom: 1em;

    }

    .diagramme {
        height: 95%;
    }

    .btn {
        top: 34em;
    }

}

@media screen and (width > 1290px ) {

    .haut li {
        font-size: 1.5em;
        padding: 4.25em;
        padding-top: 1em;
        padding-bottom: 1em;

    }

    .diagramme {
        height: 85%;
        padding-bottom: 100px;
        padding-left: 30px;
        padding-right: 30px;
    }

}