{% extends 'common/base.html' %}

{% block title %}Actions admin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/accueil_superadmin.css') }}">
{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5 pt-5 text-black">Choix actions</h1>

    <a href="{{ url_for("admin.gestion_apprenti") }}">
        <button class="boutton-choix">Gérer comptes élève</button>
    </a>
    <a href="{{ url_for("admin.gestion_personnel") }}">
        <button class="boutton-choix">Gérer comptes personnel</button>
    </a>
    <a>
        <button class="boutton-choix">Gérer formations</button>
    </a>
    <a>
        <button class="boutton-choix">Gérer sessions</button>
    </a>
{% endblock %}