{% extends 'common/base.html' %}

{% block title %}Actions admin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/accueil_superadmin.css') }}">
{% endblock %}

{% block body %}
    <h1>Choix actions</h1>
    <div>
        <button class="boutton-choix">Gérer les comptes</button>
    </div>
    <div>
        <button class="boutton-choix">Gérer les formations</button>
    </div>
    <div>
        <button class="boutton-choix">Visualisation élèves</button>
    </div>
{% endblock %}