{% extends 'common/base.html' %}

{% block title %}Gestion des comptes{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/gestion_personne.css') }}">
{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5 pt-5 text-black">Liste du personnel</h1>
    <div class="px-3 fs-2 h-50">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-tous-tab" data-bs-toggle="tab" data-bs-target="#nav-tous"
                    type="button" role="tab" aria-controls="nav-tous" aria-selected="true">Tous
            </button>
            <button class="nav-link" id="nav-ajouter-tab" data-bs-toggle="tab" data-bs-target="#nav-ajouter"
                    type="button" role="tab" aria-controls="nav-ajouter" aria-selected="false">Ajouter
            </button>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-tous" role="tabpanel" aria-labelledby="nav-tous-tab">
                <table class="table table-bordered">
                    <thead>
                    <tr class="text-center fs-1">
                        <th scope="col">Login</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Mail</th>
                        <th scope="col">Role</th>
                        <th scope="col">Actif</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for personnel in liste_personnel %}
                        <tr class="text-center {% if personnel['essaies'] == 3 %}table-danger{% endif %}"
                        id="pers-{{ personnel['id_personnel'] }}">
                            <td>{{ personnel["login"] }}</td>
                            <td>{{ personnel["nom"] }}</td>
                            <td>{{ personnel["prenom"] }}</td>
                            <td>{{ personnel["email"] }}</td>
                            <td class="{{ couleurs[personnel['role']] }}">{{ personnel["role"] }}</td>
                            <td>
                                {% if personnel["essaies"] == 3 %}
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                {% endif %}
                            </td>
                            <th><i class="fa fa-pencil-square-o" aria-hidden="true"></i></th>
                            <td><i class="fa fa-trash" aria-hidden="true"></i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-ajouter" role="tabpanel" aria-labelledby="nav-ajouter-tab">
                <form method="post" id="container-ajout">
                    
                    <div class="w-75 test">
                        <div class="d-flex">
                            <div class="m-4 w-50">
                                <div>
                                    <h3 class="fs-1 my-3">Nom :</h3>
                                </div>
                                <div>
                                    {{ form.nom(class="form-control fs-1 my-3") }}
                                </div>
                                <div>
                                    <h3 class="fs-1 my-3">Prénom :</h3>
                                </div>
                                <div>
                                    {{ form.prenom(class="form-control fs-1 my-3") }}
                                </div>
                            </div>
                            <div class="m-4 w-50">
                                <div>
                                    <h3 class="fs-1 my-3">Email :</h3>
                                </div>
                                <div>
                                    {{ form.email(class="form-control fs-1 my-3") }}
                                </div>
                                <div>
                                    <h3 class="fs-1 my-3">Mot de passe :</h3>
                                </div>
                                <div id="bloc_password">
                                    <input name ="password" class='form-control fs-1 my-3' type="password" id="password" minlength="6" maxlength="6" required/>
                                    <img alt="eye" id="icone_visibilite" src="{{ url_for('static', filename='images/hide.png') }}" onclick="visibilite()">
                                </div>
                            </div>
                        </div>
                        <div class="m-4">
                            <h3 class="fs-1 my-3">Choisissez un rôle :</h3>
                            <select name="select_role" class="fs-1 my-3 form-select" required>
                                <option value="" selected disabled="disabled">--- Sélectionnez un rôle ---</option>
                                <option value="CIP">CIP</option>
                                <option value="Educateur">Educateur</option>
                                <option value="Educateur_Administrateur">Educateur Administrateur</option>
                            </select>
                        </div>
                    </div>
                    <div class="w-50 mx-auto my-5">
                        {{ form.submit(class="btn btn-primary fs-1 form-control text-center") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="fixed-bottom bg-light">
        <a href="{{ url_for('admin.accueil_admin') }}">{% include "_partial/_retour_bouton.html" %}</a>
    </div>

    <script>
        visible = true;
        function visibilite(){
            if (visible){
                document.getElementById('password').setAttribute("type", "text");
                document.getElementById('icone_visibilite').src="{{ url_for('static', filename='images/show.png') }}";
                visible = false;
            }
            else{
                document.getElementById('password').setAttribute("type", "password");
                document.getElementById('icone_visibilite').src="{{ url_for('static', filename='images/hide.png') }}";
                visible = true;
            }
        }
    </script>
{% endblock %}