{% extends 'common/base.html' %}

{% block title %}Gestion des formations{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/gestion_formations.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ url_for('static',filename='js/gestion_formations.js') }}"></script>
{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5 pt-5 text-black">Liste des formations</h1>
    <div class="px-3 fs-2 h-50">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-tous-tab" data-bs-toggle="tab" data-bs-target="#nav-tous"
                    type="button" role="tab" aria-controls="nav-tous" aria-selected="true">Tous
            </button>
            <button class="nav-link" id="nav-ajouter-tab" data-bs-toggle="tab" data-bs-target="#nav-ajouter"
                    type="button" role="tab" aria-controls="nav-ajouter" aria-selected="false">Ajouter
            </button>
            <button class="nav-link" id="nav-archiber-tab" data-bs-toggle="tab" data-bs-target="#nav-archiver"
                    type="button" role="tab" aria-controls="nav-archiver" aria-selected="false">Archives
            </button>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-tous" role="tabpanel" aria-labelledby="nav-tous-tab">
                <table class="table table-bordered">
                    <thead>
                    <tr class="text-center fs-1">
                        <th scope="col">Intitulé</th>
                        <th scope="col">Niveau qualification</th>
                        <th scope="col">Groupe</th>
                        <th scope="col">Image</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for formation in liste_formation %}
                        <tr class="text-center"
                        id="pers-{{ formation["id_formation"] }}">
                            <td class="align-middle">{{ formation["intitule"] }}</td>
                            <td class="align-middle">{{ formation["niveau_qualif"] }}</td>
                            <td class="align-middle">{{ formation["groupe"] }}</td>
                            <td><img style="width:180px; height:100px;"  src="{{ url_for('static', filename='images/'+formation['image']) }}"></td>
                            <th class="align-middle"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></th>
                            <td class="align-middle"><i class="fa fa-archive" aria-hidden="true" onclick="confirmationArchiver(this, '{{ formation['intitule'] }}', '{{ formation['id_formation'] }}')"></i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-ajouter" role="tabpanel" aria-labelledby="nav-ajouter-tab">
                <br>
                <form method="post" id="container-ajout" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="d-flex w-75 test">
                        <div class="m-4 w-50">
                            <div>
                                <h3 class="fs-1 my-3">Intitulé :</h3>
                            </div>
                            <div>
                                {{ form.intitule(class="form-control fs-1 my-3") }}
                            </div>
                            <div>
                                <h3 class="fs-1 my-3">Niveau qualification :</h3>
                            </div>
                            <div>
                                {{ form.niveau_qualif(class="form-control fs-1 my-3") }}
                            </div>
                        </div>
                        <div class="m-4 w-50">
                            <div class="parent-div">
                                <div class="mb-3">
                                    <h3 class="form-label fs-1 my-3">Choisissez une image :</h3>
                                    <input class="form-control fs-1 my-3" type="file" id="image" name="image"
                                       accept="image/png, image/jpeg, image/jpg"/>
                                </div>
                            </div>
                            <div>
                                <h3 class="fs-1 my-3">Groupe :</h3>
                            </div>
                            <div>
                                {{ form.groupe(class="form-control fs-1 my-3") }}
                            </div>
                        </div>
                    </div>
                    <div class="w-50 mx-auto my-5">
                        {{ form.submit(class="btn btn-primary fs-1 form-control text-center") }}
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="nav-archiver" role="tabpanel" aria-labelledby="nav-archiver-tab">
                <p>Archiver</p>
            </div>
        </div>
    </div>

    <div class="fixed-bottom bg-light">
        <a href="{{ url_for('admin.accueil_admin') }}">{% include "_partial/_retour_bouton.html" %}</a>
    </div>
{% endblock %}