{% extends 'common/base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/commentaires.css') }}">
{% endblock %}

{% block title %}Adaptation en situation d'examen{% endblock %}

{% block body %}
    <h1>Adaptation en situation d'examen de {{ apprenti.prenom }} {{ apprenti.nom }}</h1>
    <div class="w-75 m-auto bg-light px-4 py-2 rounded-5 mt-5">
    <div id="titre">
    <h2 class="commentaireTitre">Commentaire
        {% if commentaire|length == 0 %}
            <a href="{{ url_for('cip.ajouter_commentaire', apprenti = apprenti.login) }}">
                <img id="ajouter" class="plus" src="{{ url_for('static', filename='images/cross.png' ) }}" alt="ajouter">
            </a>
        {% else %}
            <a href="{{ url_for('cip.modifier_commentaire', apprenti = apprenti.login) }}">
                <img id="modifier" src="{{ url_for('static', filename='images/modifier.png' ) }}" alt="modifier">
            </a>
        {% endif %}
    </h2>
    </div>
    {% if commentaire|length > 0 %}
        <p class="commentaire">{{ commentaire }}</p>
    {% else %}
        <p class="commentaire">Pas encore de commentaire</p>
    {% endif %}

    </div>

    <div class="fixed-bottom bg-light">
        <a href="{{ url_for('cip.affiche_choix', apprenti=apprenti.login) }}">
            {% include "_partial/_retour_bouton.html" %}</a>
    </div>
{% endblock %}