{% extends 'common/base.html' %}

{% block title %}Choix opérations{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/choix_operations_cip.css') }}">
{% endblock %}

{% block body %}
    <h1>Choix opération</h1>
    <ol id="listeOperationsCIP">
        <li class="lignes" id="fichesTechniques"><a href="{{ url_for('cip.fiches_apprenti', apprenti=apprenti) }}">Fiches
            techniques</a></li>

        <li class="lignes" id="suiviProg"><a href="{{ url_for('cip.suivi_progression_apprenti', apprenti=apprenti) }}">Suivi
            de progression</a></li>

        <li class="lignes" id="situationExam"><a
                href="{{ url_for('cip.adaptation_situation_examen', apprenti=apprenti) }}">Adaptation situation
            d'examen</a></li>
    </ol>
    {% include "_partial/_retour_bouton.html" %}
{% endblock %}