{% extends 'common/base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fiches_techniques.css') }}">
{% endblock %}

{% block title %}Fiches techniques{% endblock %}

{% block body %}    

    <h1>Fiches techniques de {{ apprenti["prenom"] }} {{ apprenti["nom"] }}</h1>

    <div id="blocFiches">
        <div class = "parent">
            <a href="{{ url_for('cip.visualiser_commentaires', apprenti=apprenti['login'], id_fiche = 0) }}">
                <img class="fiche" src="{{ url_for('static', filename='images/page-blanche.jpg') }}" alt="fiche en cours">
                <img id="pause" src="{{ url_for('static', filename='images/pause.png') }}" alt="pause">
            </a>
        </div>

        <div class = "parent">
            <a href="{{ url_for('cip.visualiser_commentaires', apprenti=apprenti['login'], id_fiche = 0) }}">
                <img class="fiche" src="{{ url_for('static', filename='images/page-blanche.jpg') }}" alt="fiche finie">
                <img id="check" src="{{ url_for('static', filename='images/check.png') }}" alt="fini">
            </a>
        </div>

        <div class = "parent">
            <a href="{{ url_for('cip.visualiser_commentaires', apprenti=apprenti['login'], id_fiche = 0) }}">
                <img class="fiche" src="{{ url_for('static', filename='images/page-blanche.jpg') }}" alt="fiche finie">
                <img id="check" src="{{ url_for('static', filename='images/check.png') }}" alt="fini">
            </a>
        </div>

        <div class = "parent">
            <a href="{{ url_for('cip.visualiser_commentaires', apprenti=apprenti['login'], id_fiche = 0) }}">
                <img class="fiche" src="{{ url_for('static', filename='images/page-blanche.jpg') }}" alt="fiche finie">
                <img id="check" src="{{ url_for('static', filename='images/check.png') }}" alt="fini">
            </a>
        </div>

        <div class = "parent">
            <a href="{{ url_for('cip.visualiser_commentaires', apprenti=apprenti['login'], id_fiche = 0) }}">
                <img class="fiche" src="{{ url_for('static', filename='images/page-blanche.jpg') }}" alt="fiche finie">
                <img id="check" src="{{ url_for('static', filename='images/check.png') }}" alt="fini">
            </a>
        </div>

        <div class = "parent">
            <a href="{{ url_for('cip.visualiser_commentaires', apprenti=apprenti['login'], id_fiche = 0) }}">
                <img class="fiche" src="{{ url_for('static', filename='images/page-blanche.jpg') }}" alt="fiche finie">
                <img id="check" src="{{ url_for('static', filename='images/check.png') }}" alt="fini">
            </a>
        </div>
    </div>

    {% for fiche in fiches_techniques %}
    <div class = "parent">
        <a href="{{ url_for('cip.visualiser_commentaires', apprenti=apprenti['login'], id_fiche = fiche['id_fiche']) }}">
            <img class="fiche" src="{{ url_for('static', filename='images/page-blanche.jpg') }}" alt="fiche finie">
            <img id="check" src="{{ url_for('static', filename='images/check.png') }}" alt="fini">
        </a>
    </div>
    {%endfor%}

{% include "_partial/_retour_bouton.html" %}

{% endblock %}