{% extends 'common/base.html' %}

{% block title %}Fiches techniques{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fiches_techniques.css') }}">
{% endblock %}

{% block body %}

    <h1>Fiches techniques de {{ apprenti["prenom"] }} {{ apprenti["nom"] }}</h1>

    <div id="blocFiches">

        {% for fiche in fiches %}
            <div class="parent">
                <a href="{{ url_for('cip.visualiser_commentaires', apprenti=apprenti['login'], fiche = fiche['id_fiche']) }}">
                    <img class="fiche" src="{{ url_for('static', filename='images/page-blanche.jpg') }}"
                         alt="fiche finie">
                    <img id="check" src="{{ url_for('static', filename='images/check.png') }}" alt="fini">
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="fixed-bottom bg-light">
        <a href="{{ url_for('cip.affiche_choix', apprenti=apprenti['login']) }}">{% include "_partial/_retour_bouton.html" %}</a>
    </div>
{% endblock %}