{% extends 'common/base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/modifier_commentaires.css') }}">
{% endblock %}

{% block title %}Modification commentaire{% endblock %}

{% block body %}
    <h1>Modification commentaire (adaptation situation d'examen) pour {{ apprenti["prenom"] }} {{ apprenti["nom"] }} </h1>

    <div id="bloc">
        <form name="modifier" id="modifier" method="POST">
            <p>Commentaire (CIP) :</p>
            <textarea type="text" class="modifiable" id="commentaire" name="commentaire"
                      maxlength="500">{{ commentaire }}</textarea>

            {% include "_partial/_retour_bouton.html" %}
            <input type="submit" value="Enregistrer" id="enregistrer">
        </form>
    </div>
{% endblock %}