{% extends 'common/base.html' %}

{% block title %}Suivi de Progression{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/suivi_progression_apprenti.css') }}">
{% endblock %}

{% block body %}
    <h1>Suivi de progression</h1>
    <div class="haut">
        <ul>
            <li>Nombre de fiches</li>
            <li>Niveau moyen</li>
            <li>Temps moyen</li>
        </ul>
    </div>
    <div class="milieu">
        <div class="diagramme">
            <canvas id="suivi_progression_cip" aria-label="chart" role="img" type="module"></canvas>
            {% block javascripts %}
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.0/chart.min.js"></script>
                <script src="{{ url_for('static',filename='js/suivi_progression_cip.js') }}"></script>
            {% endblock %}
        </div>
    </div>
    <div class="temps_fiche">
        <label>temps fiche</label>
    </div>
    <div class="valeur_moy">
        <label>valeur moyenne</label>
    </div>
    {% include "_partial/_retour_bouton.html" %}
{% endblock %}