{% extends 'common/base.html' %}

{% block title %}Suivi de Progression{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/suivi_progression_apprenti.css') }}">
{% endblock %}

{% block body %}
    <h1>Suivi de progression</h1>
    <div class="haut">
        <label>Nb fiches</label>
        <label>Niveau moyen</label>
        <label>Temps moyen</label>
    </div>
    <div class="millieu">
        <div class="diagramme">
            <table class="colonne">
                <caption> Temps en fonction d'une fiche</caption>
                
            </table>
            
            <canvas id="suivi_progression_cip"></canvas>
            {% block javascripts %}
                <script type="module" src="{{ url_for('static',filename='js/suivi_progression_cip.js') }}"></script>
            {% endblock %}

        </div>
    </div>
    <div class="temps_fiche">
        <label>temps fiche</label>
    </div>
    <div class="valeur_moy">
        <label>valeur moyenne</label>
    </div>
    
    {% include "_partial/_retour_bouton.html" %}
{% endblock %}