<nav class="navbar p-4" style="background-color:{% if session['role'] == 'apprentis' %} #96DBF2;{% else %} #90E3BE;{% endif %}">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('auth.choix_connexion') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" height="80"
                class="d-inline-block align-text-top">
        </a>
        <div class="d-flex">
            <a href="{% if session['role'] == 'apprentis' %} {{ url_for('static', filename='documentations/doc_apprenti.pdf') }}; 
                {% elif session['role'] == 'Educateur Administrateur' %} {{ url_for('static', filename='documentations/doc_educadmin.pdf') }}; 
                {% elif session['role'] == 'Educateur' %} {{ url_for('static', filename='documentations/doc_educateursimple.pdf') }}; 
                {% elif session['role'] == 'CIP' %} {{ url_for('static', filename='documentations/doc_cip.pdf') }}; 
                {% elif session['role'] == 'SuperAdministrateur' %} {{ url_for('static', filename='documentations/doc_superadmin.pdf') }};
                {% endif %}" target="_blank" rel="noopener" class="mx-5">
                <i class="fa fa-question-circle fa-4x m-2" aria-hidden="true"></i>
            </a>
            <a role="search" href="{{ url_for('auth.logout') }}" class="mx-2">
                <i class="fa fa-sign-out fa-5x" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</nav>