{% extends 'common/base.html' %}

{% block title %}Ajout matériel{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/gestion_admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/snackbar.css') }}">
{% endblock %}


{% block body %}
    <h1 class="mt-5 mb-5 pt-5 text-black">Ajout matériel</h1>
    
    <form method="post" id="container-ajout" enctype="multipart/form-data">
        <div class="d-flex w-75 test">
            <div class="m-4 w-50">
                <div>
                    <h3 class="fs-1 my-3">Nom :</h3>
                </div>
                <div>
                    {{ form_ajouter.nom(class="form-control fs-1 my-3") }}
                </div>
                <div>
                    <h3 class="fs-1 my-3">Catégorie :</h3>
                </div>
                <div>
                    {{ form_ajouter.categorie(class="form-control fs-1 my-3") }}
                </div>
            </div>
            <div class="m-4 w-50">
                <div class="mb-3">
                    <h3 class="form-label fs-1 my-3">Choisissez une image :</h3>
                    <input class="form-control fs-1 my-3" type="file" id="materiel" name="materiel"
                           accept="image/png, image/jpeg, image/jpg"/>
                </div>
            </div>
        </div>

        <div class="w-50 mx-auto my-5">
            {{ form_ajouter.submit(class="btn btn-primary fs-1 form-control text-center") }}
        </div>
    </form>

{% endblock %}
