{% extends 'common/base.html' %}

{% block title %}Fiches techniques{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fiches_techniques.css') }}">
{% endblock %}

{% block body %}
    <h1>Fiches techniques de {{ apprenti.prenom }} {{ apprenti.nom }}</h1>

    <div id="blocFiches">
        <div class="d-block">
            <div class="parent">
                <a href="{{ url_for('educ_admin.ajouter_fiche', apprenti=apprenti.login) }}">
                    <img class="fiche" src="{{ url_for('static', filename='images/page-blanche.jpg') }}"
                         alt="fiche finie">
                    <img class="plus" src="{{ url_for('static', filename='images/cross.png') }}" alt="ajouter">
                </a>
            </div>
            <p class="text-center fs-1">Ajouter une fiche</p>
        </div>
        {% for fiche in fiches %}
            <div class="d-block">
                <div class="parent">
                    {% if fiche.etat_fiche == 0 %}
                        <a class="modifier"
                           href="{{ url_for('educ_admin.modifier_fiche', id_fiche=fiche.id_fiche) }}">
                            <i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                    {% else %}
                        <a class="modifier"></a>
                    {% endif %}
                    <a {% if fiche.etat_fiche == 1 %}
                        href="{{ url_for('educ_admin.visualiser_commentaires', apprenti=apprenti.login,
                        numero = fiche.numero) }}" {% endif %}
                        class="bg-modifier">
                        <img class="fiche" src="{{ url_for('static', filename='images/page-blanche.jpg') }}"
                             alt="fiche finie">
                        {% if fiche.etat_fiche == 1 %}
                            <img class="check" src="{{ url_for('static', filename='images/check.png') }}" alt="fini">
                        {% elif fiche.etat_fiche == 2 %}
                            <img class="check" src="{{ url_for('static', filename='images/stop.png') }}" alt="fini">
                        {% else %}
                            <img class="check" src="{{ url_for('static', filename='images/pause.png') }}" alt="pause">
                        {% endif %}
                    </a>
                </div>
                <p class="text-center fs-1">Fiche n°{{ fiche.numero }}</p>
                <p class="text-center fs-2">{{ get_nom_cours_by_id(fiche.id_cours) }}</p>
                <p class="text-center fs-3">{{ fiche.date_convertis }}</p>
            </div>
        {% endfor %}
    </div>

    <div style="height: 200px"> </div>
    <div class="fixed-bottom bg-light">
        <a href="{{ url_for("educ_admin.choix_eleve", nom_formation=formation) }}">
            {% include "_partial/_retour_bouton.html" %}</a>
    </div>
{% endblock %}