{% extends 'common/base.html' %}

{% block title %}Gestion des cours{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/snackbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/gestion_cours.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/snackbar.js') }}" defer></script>
    <script src="{{ url_for('static',filename='js/archiver_desarchiver_admin.js') }}"></script>
    <script src="{{ url_for('static',filename='js/supprimer_admin.js') }}"></script>
    <script src="{{ url_for('static',filename='js/recherche_cours.js') }}"></script>
{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5 pt-5 text-black">Liste des cours</h1>
    <div class="px-3 fs-2 h-50">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-tous-tab" data-bs-toggle="tab" data-bs-target="#nav-tous"
                    type="button" role="tab" aria-controls="nav-tous" aria-selected="true">Tous
            </button>
            <button class="nav-link" id="nav-ajouter-tab" data-bs-toggle="tab" data-bs-target="#nav-ajouter"
                    type="button" role="tab" aria-controls="nav-ajouter" aria-selected="false">Ajouter
            </button>
            <button class="nav-link" id="nav-archiver-tab" data-bs-toggle="tab" data-bs-target="#nav-archiver"
                    type="button" role="tab" aria-controls="nav-archiver" aria-selected="false">Archives
            </button>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-tous" role="tabpanel" aria-labelledby="nav-tous-tab">
                <div id="searchbar">
                    <input type="text" class="form-control" id="searchCours" placeholder="Rechercher une cours ..." 
                    aria-label="Rechercher...." aria-describedby="button-addon2" onkeyup="searchTable('table_non_archive', 'searchCours')">
                </div>
                <table class="table table-bordered" aria-describedby="table des cours" id="table_non_archive">
                    <thead>
                    <tr class="text-center fs-1">
                        <th scope="col">Thème</th>
                        <th scope="col">Intitulé</th>
                        <th scope="col">Durée (en semaines)</th>
                        <th scope="col">Formation associée</th>
                        <th scope="col">Modifier</th>
                        <th scope="col">Archiver</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cour in cours %}
                        <tr class="text-center row-to-search" id="ele-{{ cour.id_cours }}">
                            <td id="theme-{{ cour.id_cours }}"
                                class="align-middle">{{ cour.theme }}</td>
                            <td id="cours-{{ cour.id_cours }}" class="align-middle">{{ cour.cours }}</td>
                            <td id="duree-{{ cour.id_cours }}" class="align-middle">{{ cour.duree }}</td>
                            {% for formation in formations %}
                                {% if formation.id_formation == cour.id_formation %}
                                    <td id="formation-{{ cour.id_cours }}"
                                        class="align-middle">{{ formation.intitule }}</td>
                                {% endif %}
                            {% endfor %}
                            <th scope="row" onclick="passer_parametre_form(this, 'cours')"
                                class="align-middle ele-btn-modif" data-bs-toggle="modal"
                                data-bs-target="#modal-modifier">
                                <button><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            </th>
                            <th scope="row" class="align-middle ele-btn-archiver" onclick="validation_archivage(this)"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-archiver">
                                <button><i class="fa fa-archive" aria-hidden="true"></i></button>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id="table_non_archiveRes" style="display: none;">
                    <p>Aucun résultat</p>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-ajouter" role="tabpanel" aria-labelledby="nav-ajouter-tab">
                <form method="post" id="container-ajout" enctype="multipart/form-data">
                    {{ form_ajouter.hidden_tag() }}
                    <div class="d-flex w-75 test">
                        <div class="m-4 w-50">
                            <div>
                                <h3 class="fs-1 my-3">Thème :</h3>
                            </div>
                            <div>
                                {{ form_ajouter.theme(class="form-control fs-1 my-3") }}
                            </div>
                            <div>
                                <h3 class="fs-1 my-3">Intitulé du cours :</h3>
                            </div>
                            <div>
                                {{ form_ajouter.cours(class="form-control fs-1 my-3") }}
                            </div>
                        </div>
                        <div class="m-4 w-50">
                            <div>
                                <h3 class="fs-1 my-3">Durée (en semaines) :</h3>
                            </div>
                            <div>
                                {{ form_ajouter.duree(class="form-control fs-1 my-3") }}
                            </div>
                            <div>
                                <h3 class="fs-1 my-3">Choisissez une formation :</h3>
                                <select id="select_formation" name="select_formation" class="fs-1 my-3 form-select" required>
                                    <option value="" selected disabled="disabled">--- Sélectionnez une formation ---
                                    </option>
                                    {% for formation in formations %}
                                        <option value="{{ formation.id_formation }}">{{ formation.intitule }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="w-50 mx-auto my-5">
                        {{ form_ajouter.submit(class="btn btn-primary fs-1 form-control text-center") }}
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="nav-archiver" role="tabpanel" aria-labelledby="nav-archiver-tab">
                <table class="table table-bordered" id="table-archive" aria-describedby="table cours archivés">
                    <thead>
                    <tr class="text-center fs-1">
                        <th scope="col">Thème</th>
                        <th scope="col">Intitulé du cours</th>
                        <th scope="col">Durée (en semaines)</th>
                        <th scope="col">Formation associée</th>
                        <th scope="col">Désarchiver</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cour in cours_archives %}
                        <tr class="text-center" id="arch-ele-{{ cour.id_cours }}">
                            <td class="align-middle">{{ cour.theme }}</td>
                            <td class="align-middle">{{ cour.cours }}</td>
                            <td class="align-middle">{{ cour.duree }}</td>
                            <td class="align-middle">{{ cour.id_formation }}</td>
                            <th scope="row" class="align-middle ele-btn-desarchiver"
                                onclick="validation_desarchivage(this)"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-desarchiver">
                                <button><i class="fa fa-archive" aria-hidden="true"></i></button>
                            </th>
                            <th scope="row" class="align-middle ele-btn-supprimer"
                                onclick="validation_suppression(this)"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-supprimer">
                                <button><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id="tab_non_archiveRes" style="display: none;">
                    <p>Aucun résultat</p>
                </div>
            </div>
        </div>
        <div style="height: 200px; position: relative"></div>
    </div>

    <div id="snackbar">.</div>

    <div class="modal fade" id="modal-archiver" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-1" id="modal-title">Archiver le cours</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="" id="archiver-value">
                    <p id="modal-text" class=" fs-3">Êtes-vous sûr de vouloir archiver ce cours ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary fs-3" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary fs-3" data-bs-dismiss="modal"
                            onclick="archiver_cours()">Archiver
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-desarchiver" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-1" id="modal-title">Désarchiver le cours</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="" id="desarchiver-value">
                    <p id="modal-text" class=" fs-3">Êtes-vous sûr de vouloir désarchiver ce cours ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary fs-3" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary fs-3" data-bs-dismiss="modal"
                            onclick="desarchiver_cours()">Désarchiver
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-supprimer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-1" id="modal-title">Supprimer le cours</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="" id="supprimer-value">
                    <p id="modal-text" class=" fs-3">Êtes-vous sûr de vouloir supprimer ce cours ? Cette action
                        est irréversible et entraînera la suppression des élèments associés à l'id de ce cours.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary fs-3" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger fs-3" data-bs-dismiss="modal"
                            onclick="supprimer_cours()">Supprimer
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-modifier" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-1" id="modal-title">Modifier le cours</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" id="container-modifier" enctype="multipart/form-data" autocomplete="off">
                        {{ form_modifier.hidden_tag() }}
                        <input type="hidden" value="" id="id-element-cours" name="id-element">
                        <div class="w-75 test">
                            <h3 class="fs-1 my-3">Thème :</h3>
                            {{ form_modifier.form_theme(class="form-control fs-1 my-3") }}
                        </div>
                        <div class="w-75 test">
                            <h3 class="fs-1 my-3">Intitulé du cours :</h3>
                            {{ form_modifier.form_cours(class="form-control fs-1 my-3") }}
                        </div>
                        <div class="w-75 test">
                            <h3 class="fs-1 my-3">Durée (en semaines):</h3>
                            {{ form_modifier.form_duree(class="form-control fs-1 my-3") }}
                        </div>
                        <div class="w-75 test">
                            <h3 class="fs-1 my-3">Formation associée :</h3>
                            <select name="select_formation_modifier" id="select_formation_modifier" class="fs-1 my-3 form-select"
                                    required>
                                <option value="" selected disabled="disabled">--- Sélectionnez une formation ---
                                </option>
                                {% for formation in formations %}
                                    <option value="{{ formation.intitule }}">{{ formation.intitule }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex">
                    {{ form_modifier.form_submit(form="container-modifier", class="btn btn-primary fs-3 form-control text-center") }}
                    <button type="button" class="btn btn-secondary fs-3 form-control text-center"
                            data-bs-dismiss="modal">Annuler
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="fixed-bottom bg-light">
        <a href="{{ url_for('educ_admin.accueil_educadmin') }}">{% include "_partial/_retour_bouton.html" %}</a>
    </div>
{% endblock %}

{% block javascripts2 %}
    <script src="{{ url_for('static',filename='js/modifier_admin.js') }}"></script>
{% endblock %}