{% extends 'common/base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/ms-dropdown@4.0.3/dist/css/dd.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/personnalisation_fiche.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom_ms_dropdown.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ url_for('static',filename='js/color_generator.js') }}"></script>
    <script src="{{ url_for('static',filename='js/personnalisation_fiche.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/ms-dropdown@4.0.3/dist/js/dd.min.js"></script>
{% endblock %}

{% block body %}
    <h1>Personnalisation fiche numéro {{ fiche["numero"] }}</h1>

    <div id="container-principal" class="px-4">
        <div id="zone_preview">
            <h3>Prévisualisation</h3>
            <select id="selecteur_categorie" onchange="changer_preview(this)" class="my-3">
                {% for categorie in composition %}
                    <option value="{{ categorie['position_elem'] }}">{{ categorie["libelle_elem"] }}</option>
                {% endfor %}
            </select>
            {% for categorie in composition %}
                <fieldset id="field-{{ categorie['position_elem'] }}" class="scheduler-border p-2 mr-auto ml-2"
                          {% if loop.index0 != 0 %}hidden="" {% endif %} style="{{ categorie['couleur_fond'] }}">
                    <legend>{{ categorie["libelle_elem"] }}</legend>
                    {% for element in categorie["elements"] %}
                        <label class="mb-2" id="modelem-{{ element['position_elem'] }}">
                            {% if element["pictogramme"] != None %}
                                <img src="{{ url_for('static', filename='images/icone_fiches/'+element['pictogramme']) }}"
                                     class="rounded" alt="icone element" onload="chargement_preview(this,
                                        ajout={{ element["taille_pictogramme"] }},
                                        couleur='{{ element["couleur_pictogramme"] }}',
                                        position_element='{{ element["position_elem"] }}')"
                                     id="icone-{{ element["position_elem"] }}"
                                     {% if element["niveau"] == 3 %}hidden="" {% endif %}>
                            {% endif %}
                            <span id="label-{{ element['position_elem'] }}"
                                  style="font-size: {{ element['taille_texte'] }}px; color: {{ element['couleur'] }};
                                          font-family: {{ element['police'] }}, 'Sans-Serif light';"
                                  {% if element["niveau"] == 1 %}hidden=""{% endif %}>{{ element["libelle_elem"] }}</span>
                            {% if element["type_elem"] == "select-time" %}
                                </label>
                                <select>
                                    <option value="">0:30</option>
                                    {% for h in range(1, 10) %}
                                        {% for m in range(0, 4, 3) %}
                                            <option value="">{{ h }}:{{ m }}0</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            {% elif element["type_elem"] == "select-materiel" %}
                                </label>
                                <select>
                                    <option value="mat-1">matériel 1</option>
                                    <option value="mat-2">matériel 2</option>
                                </select>
                            {% elif element["type_elem"] == "textarea" %}
                                </label>
                                <textarea class="form-control"></textarea>
                            {% elif element["type_elem"] in ["radio","checkbox"] %}
                                <input type="{{ element['type_elem'] }}" name="radio-{{ categorie['position_elem'] }}">
                                </label>
                            {% else %}
                                </label>
                                <div>
                                    <input type="{{ element['type_elem'] }}"
                                            {% if element["type_elem"] != "checkbox" %}
                                           class="form-control"
                                            {% endif %}>
                                </div>
                            {% endif %}
                    {% endfor %}
                </fieldset>
            {% endfor %}
        </div>

        <div id="zone_personnalisation">
            <h2>Personnalisation</h2>
            <form id="personnalisation" name="personnalisation" method="post" >
                {% for categorie in composition %}
                    <div class="set-hidde" id="set-{{ categorie["position_elem"] }}"
                         {% if loop.index0 != 0 %}hidden="" {% endif %}>
                        <h3>Choix de l'élement ou de la catégorie</h3>
                        <select id="selecteur-element-{{ categorie['position_elem'] }}"
                                name="selecteur-element-{{ categorie['position_elem'] }}"
                                onchange="changer_element(this)">
                            <option value="{{ categorie['position_elem'] }}" selected>Catégorie
                                - {{ categorie["libelle_elem"] }}</option>
                            {% for element in categorie["elements"] %}
                                <option value="{{ element['position_elem'] }}"
                                        {% if categorie["niveau"] != None %}disabled{% endif %}
                                >Element - {{ element["libelle_elem"] }}</option>
                            {% endfor %}
                        </select>

                        <!-- Itération pour la version de la catégorie-->
                        <div id="element-{{ categorie['position_elem'] }}" class="element-hidde">
                            <div>
                                <h3>Champs</h3>
                                <div class="form-control">
                                    <!-- Sélection du Niveau -->
                                    <label for="selecteur_niveau">Niveau</label>
                                    <select id="selecteur-niveau-{{ categorie['position_elem'] }}"
                                            name="selecteur-niveau-{{ categorie['position_elem'] }}"
                                            onchange="changer_niveau_categorie({{ categorie['position_elem'] }})">
                                        <option value="0" {% if categorie["niveau"] == None %}selected{% endif %}>
                                            # - Niveau individuel pour chaque élément de la catégorie
                                        </option>
                                        <option value="1" {% if categorie["niveau"] == 1 %}selected{% endif %}>1 -
                                            Facile -
                                            Pictogrammes (appliquer à tous les éléments)
                                        </option>
                                        <option value="2" {% if categorie["niveau"] == 2 %}selected{% endif %}>2 - Aidé
                                            -
                                            Pictogrammes
                                            et Texte (appliquer à tous les éléments)
                                        </option>
                                        <option value="3" {% if categorie["niveau"] == 3 %}selected{% endif %}>3 - Pro -
                                            Version d'examen (appliquer à tous les éléments)
                                        </option>
                                    </select>
                                </div>
                                <br>
                            </div>
                            <div>
                                <h3>Pictogramme</h3>
                                <div id="div-picto-{{ categorie['position_elem'] }}"
                                     class="d-flex form-control modify-text {% if categorie['niveau'] == None %}disabled-text{% endif %}">
                                    <div class="w-50">
                                        <!-- Sélection de la taille de la police d'écriture -->
                                        <label>Taille</label>
                                        <input type="number" min="0" max="100"
                                               name="taille-picto-{{ categorie['position_elem'] }}"
                                               id="taille-picto-{{ categorie['position_elem'] }}"
                                               {% if categorie["niveau"] == None %}disabled{% endif %}
                                               value="{{ categorie['taille_pictogramme'] }}"
                                               onchange="changer_icone_categorie('{{ categorie["position_elem"] }}')"><br>
                                    </div>
                                    <div class="w-50">
                                        <!-- Sélection de la couleur de la police d'écriture -->
                                        <label>Couleur</label>
                                        <input type="color" class="form-control form-control-color w-100 mt-2"
                                               name="couleur-picto-{{ categorie['position_elem'] }}"
                                               id="couleur-picto-{{ categorie['position_elem'] }}"
                                               value="{{ categorie['couleur_pictogramme'] }}"
                                               {% if categorie["niveau"] == None %}disabled{% endif %}
                                               onchange="changer_icone_categorie('{{ categorie["position_elem"] }}')">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3>Texte</h3>
                                <div id="div-text-{{ categorie['position_elem'] }}"
                                     class="d-flex form-control modify-text {% if categorie['niveau'] == None %}disabled-text{% endif %}">
                                    <div>
                                        <!-- Sélection d'une police d'écriture -->
                                        <label>Police</label>
                                        <select id="selecteur-police-{{ categorie['position_elem'] }}"
                                                name="selecteur-police-{{ categorie['position_elem'] }}"
                                                onchange="changer_texte_categorie('{{ categorie["position_elem"] }}')"
                                                {% if categorie["niveau"] == None %}disabled{% endif %}>
                                            {% for police in polices %}
                                                <option value="{{ police }}" style="font-family: {{ police }}"
                                                        {% if police == categorie["police"] %} selected {% endif %}>
                                                    {{ police }}
                                                </option>
                                            {% endfor %}
                                            <!-- Autres polices à rajouter éventuellement -->
                                        </select>
                                    </div>

                                    <div>
                                        <!-- Sélection de la taille de la police d'écriture -->
                                        <label>Taille</label>
                                        <input id="taille-police-{{ categorie['position_elem'] }}" type="number"
                                               name="taille-police-{{ categorie['position_elem'] }}" min="15" max="100"
                                               value="{{ categorie['taille_texte'] }}"
                                               onchange="changer_texte_categorie('{{ categorie["position_elem"] }}')"
                                               {% if categorie["niveau"] == None %}disabled{% endif %}><br>
                                    </div>
                                    <div>
                                        <!-- Sélection de la couleur de la police d'écriture -->
                                        <label> Couleur</label>
                                        <input id="couleur-police-{{ categorie['position_elem'] }}"
                                               name="couleur-police-{{ categorie['position_elem'] }}"
                                               type="color" class="form-control form-control-color w-100 mt-2"
                                               value="{{ categorie['couleur'] }}"
                                               onchange="changer_texte_categorie('{{ categorie["position_elem"] }}')"
                                               {% if categorie["niveau"] == None %}disabled{% endif %}>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <h3>Couleur de fond</h3>
                                <div id="div-fond-{{ categorie['position_elem'] }}"
                                     class="form-control">
                                    <!-- Sélection de la couleur du fond -->
                                    <label>Couleur</label>
                                    <input type="color" class="form-control form-control-color w-100 mt-2"
                                           name="couleur-fond-{{ categorie['position_elem'] }}"
                                           id="couleur-fond-{{ categorie['position_elem'] }}"
                                           value="{{ categorie['couleur_fond'] }}"
                                           onchange="changer_fond_categorie({{ categorie["position_elem"] }})">
                                </div>
                            </div>
                        </div>


                        <!-- Itération par éléments dans la catégorie-->
                        {% for element in categorie["elements"] %}
                            <div hidden="" id="element-{{ element['position_elem'] }}" class="element-hidde">

                                <div>
                                    <h3>Champ</h3>
                                    <div class="form-control">
                                        <div>
                                            <!-- Sélection du Niveau -->
                                            <label for="selecteur-niveau-{{ element['position_elem'] }}"> Niveau</label>
                                            <select id="selecteur-niveau-{{ element['position_elem'] }}"
                                                    name="selecteur-niveau-{{ element['position_elem'] }}"
                                                    onchange="changer_niveau_individuel('{{ element["position_elem"] }}')">
                                                <option value="1" {% if element["niveau"] == 1 %}selected{% endif %}>1 -
                                                    Facile - Pictogrammes
                                                </option>
                                                <option value="2" {% if element["niveau"] == 2 %}selected{% endif %}>2 -
                                                    Aidé - Pictogrammes et Texte
                                                </option>
                                                <option value="3" {% if element["niveau"] == 3 %}selected{% endif %}>3 -
                                                    Pro - Version d'examen
                                                </option>
                                            </select>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h3>Pictogramme</h3>
                                    <div class="d-flex form-control modify-text">
                                        <div>
                                            <label>Icône</label>
                                            <select class="selecteur_pictogramme" is="ms-dropdown"
                                                    name="selecteur-picto-{{ element["position_elem"] }}"
                                                    id="selecteur-picto-{{ element["position_elem"] }}"
                                                    onchange="changer_picto('{{ element["position_elem"] }}')">
                                                {% for categorie in liste_pictogrammes %}
                                                    <optgroup label="{{ categorie }}">
                                                        {% for souscategorie in liste_pictogrammes[categorie] %}
                                                            <optgroup
                                                                    label="&nbsp;&nbsp;&nbsp;&nbsp;{{ souscategorie }}">
                                                                {% for souselement in liste_pictogrammes[categorie][souscategorie] %}
                                                                    <option value="{{ souselement['url'] }}"
                                                                            data-image="{{ url_for('static',
                                                                            filename='images/icone_fiches/'+souselement['url']) }}"
                                                                            {% if element["pictogramme"] == souselement["url"] %}
                                                                            selected {% endif %}>
                                                                        {{ souselement["label"] }}
                                                                    </option>
                                                                {% endfor %}
                                                            </optgroup>
                                                        {% endfor %}
                                                    </optgroup>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div>
                                            <!-- Sélection de la taille du pictogramme -->
                                            <label>Taille</label>
                                            <input type="number" min="0" max="40"
                                                   name="taille-picto-{{ element['position_elem'] }}"
                                                   id="taille-picto-{{ element['position_elem'] }}"
                                                   onchange="changer_icone_individuelle('{{ element["position_elem"] }}')"
                                                    {% if element["pictogramme"] == None %}
                                                   disabled value="0"
                                                    {% else %}
                                                   value="{{ element['taille_pictogramme'] }}"
                                                    {% endif %}><br>
                                        </div>
                                        <div>
                                            <!-- Sélection de la couleur du pictogramme -->
                                            <label>Couleur</label>
                                            <input type="color" class="form-control form-control-color w-100 mt-2"
                                                   name="couleur-picto-{{ element['position_elem'] }}"
                                                   id="couleur-picto-{{ element['position_elem'] }}"
                                                   onchange="changer_icone_individuelle('{{ element["position_elem"] }}')"
                                                   value="{{ element['couleur_pictogramme'] }}">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h3>Texte</h3>
                                    <div class="d-flex form-control modify-text">
                                        <div>
                                            <!-- Sélection d'une police d'écriture -->
                                            <label>Police</label>
                                            <select id="selecteur-police-{{ element['position_elem'] }}"
                                                    name="selecteur-police-{{ element['position_elem'] }}"
                                                    onchange="changer_texte_individuel('{{ element["position_elem"] }}')">
                                                {% for police in polices %}
                                                    <option value="{{ police }}" style="font-family: {{ police }}"
                                                            {% if police == categorie["police"] %} selected {% endif %}>
                                                        {{ police }}
                                                    </option>
                                                {% endfor %}
                                                <!-- Autres polices à rajouter éventuellement -->
                                            </select>
                                        </div>

                                        <div>
                                            <!-- Sélection de la taille de la police d'écriture -->
                                            <label>Taille</label>
                                            <input type="number" min="15" max="100"
                                                   onchange="changer_texte_individuel('{{ element["position_elem"] }}')"
                                                   name="taille-police-{{ element['position_elem'] }}"
                                                   id="taille-police-{{ element['position_elem'] }}"
                                                   value="{{ element['taille_texte'] }}"><br>
                                        </div>
                                        <div>
                                            <!-- Sélection de la couleur de la police d'écriture -->
                                            <label> Couleur</label>
                                            <input type="color" class="form-control form-control-color w-100 mt-2"
                                                   onchange="changer_texte_individuel('{{ element["position_elem"] }}')"
                                                   id="couleur-police-{{ element['position_elem'] }}"
                                                   name="couleur-police-{{ element['position_elem'] }}"
                                                   value="{{ element['couleur'] }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
    <div class="d-flex my-3 px-5" id="actions_finales">
        <button class="btn btn-primary form-control" type="submit" value="Submit" form="personnalisation">Envoyer</button>
    </div>
{% endblock %}